# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

# Unit test / coverage
.cache/
.pytest_cache/
.coverage*
htmlcov/
coverage.xml

# IDE / OS files
.DS_Store
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
Thumbs.db

# Node (if any)
node_modules/
package-lock.json

# Logs
*.log

# Local environment
.env
.env.*
